.container {
  display: grid;
  grid-gap: 20px;
  margin: 20px;
  align-items: stretch;
  text-align: center;
}

.columns {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (min-width: 1200px) {
  .columns {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 10px;
  background: white;
}

.card-title {
  line-height: 15px;
  text-transform: uppercase;
  color: #6b6b6b;
  padding: 20px;
}
